@using BookStore.ViewModel
@model AuthorVM
@section Title {
    AUTHOR
}
@section subTitle {
    Details
}

<div class="card-body">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Name</th>
                <th> CreatedOn </th>
                <th> UpdateOn </th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>


            <tr>
                <td>@Model.Id</td>
                <td>@Model.Name</td>
                <td>@Model.CreatedOn</td>
                <td>@Model.UpdateOn</td>

                <td>
                    <a class=" btn btn-sm   btn-primary" asp-controller="Authors" asp-action="Edit" asp-route-id="@Model.Id">
                        <i class="fas fa-edit   "></i>Edit
                    </a>



                </td>

            </tr>

        </tbody>
    </table>
</div>